@import url(https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&display=swap);
body {
  font-family: "Kanit", sans-serif;
}

#main {
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: bottom center;
  height: 100vh;
  -o-object-fit: contain;
     object-fit: contain;
  background-image: url("/images/index/bg-small.png");
}
@media screen and (min-width: 768px) {
  #main {
    background-size: 100% 100%;
    -o-object-fit: cover;
       object-fit: cover;
    background-image: url("/images/index/background.png");
  }
}
#main .img-main {
  padding-top: 5%;
  width: 100%;
  height: 100vh;
  -o-object-fit: contain;
     object-fit: contain;
  display: none;
}
@media screen and (min-width: 768px) {
  #main .img-main {
    display: inline;
  }
}
#main .content {
  position: fixed;
  top: 30%;
  color: white;
  text-align: center;
  padding: 1rem;
}
#main .content h1 {
  -webkit-text-stroke: 2px #004030;
  text-shadow: 0px 3px 27px #043923;
  font-weight: 600;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  #main .content h1 {
    line-height: 63px;
    font-size: 42px;
  }
}
#main .content h2 {
  text-shadow: 0px 3px 27px #043923;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  #main .content h2 {
    font-size: 29px;
  }
}
#main .content a {
  background: rgba(44, 68, 52, 0.66);
  border: 2px solid #FFFFFF;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 14px;
  padding: 14px 37px;
  color: white;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-decoration: none;
}

#second {
  background: #bcc7b3;
  min-height: 100vh;
}
#second header h1 {
  color: #333333;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 39px;
  padding: 24px 14px;
  box-shadow: 0px 4px 14px rgba(83, 155, 107, 0.19);
  background: #FFFFFF;
}
@media screen and (min-width: 992px) {
  #second header h1 {
    width: 1006px;
    border-radius: 22px;
    padding: 14px 84px;
    font-size: 26px;
  }
}
#second header h1 span {
  color: #D49B48;
}
#second header nav .navbar-toggler {
  background-color: white;
}
#second header nav .navbar-collapse {
  background-color: white;
  padding: 2rem;
  border-radius: 22px;
}
#second header a {
  color: #333333;
  text-decoration: none;
}
#second #tooltip {
  position: fixed;
  font-style: normal;
  color: #333333;
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(83, 155, 107, 0.19);
  border-radius: 22px;
  padding: 14px 40px;
  font-weight: 400;
  line-height: 28px;
  font-size: 19px;
}
#second #tooltip span {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#second #tooltip img {
  display: block;
  padding-right: 15px;
}
#second #tooltip p {
  margin-bottom: 0;
  color: #C97A1B;
}

#blog {
  background-size: 100%;
  background-image: url("/images/gradient-wallpaper.png");
  background-color: rgb(128, 190, 185);
  min-height: 100vh;
}
#blog .text-header {
  font-weight: bold;
  font-size: 46px;
  line-height: 68px;
  text-align: center;
  -webkit-text-stroke: 2px white;
  background: linear-gradient(269.93deg, #628D00 29.16%, #98CC77 57.24%, #628D00 66.42%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-shadow: 0px 3px 4px rgba(124, 133, 105, 0.4);
  padding: 1rem 3rem;
}
#blog .content {
  padding-left: 3rem;
  padding-right: 3rem;
}
#blog .card {
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.17);
  border-radius: 20px;
  overflow: hidden;
}
#blog .card h4 {
  font-size: 16px;
  font-weight: 600;
}
#blog .card p {
  font-size: 14px;
  color: #777777;
  margin-bottom: 0px;
}
#blog .card .text-success {
  font-size: 14px;
  color: #628D00 !important;
}

.modal-blog .modal-content {
  border-radius: 1rem;
  padding: 1rem 0;
}
.modal-blog .modal-title {
  padding: 0.5rem 1rem;
}
.modal-blog .title {
  display: flex;
  justify-content: space-between;
}
.modal-blog .btn-close {
  background-image: url("/images/Vector.png");
  background-size: 100%;
  width: 20px;
  height: 20px;
}
.modal-blog .text-title {
  color: #333333;
  font-size: 29px;
  font-weight: 600;
  line-height: 33px;
  padding: 1rem 1.5rem;
}
.modal-blog .date {
  color: #777777;
  font-size: 18px;
  font-weight: 400;
  padding-top: 1rem;
}
.modal-blog .text-detail {
  padding: 1.5rem 1.5rem;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

@media screen and (min-width: 320px) and (max-width: 900px) {
  #blog .text-header {
    font-size: 20px;
    -webkit-text-stroke: 1px white;
    line-height: 28px;
    padding: 2rem 1rem 1rem 1rem;
  }
  #blog .content {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .modal-blog img {
    width: 100%;
  }
  .modal-blog .text-title {
    font-size: 19px;
    line-height: 26px;
  }
  .modal-blog .date {
    font-size: 14px;
  }
  .modal-blog .text-detail {
    overflow: hidden;
    font-size: 16px;
    line-height: 24px;
  }
}
#booth {
  min-height: calc(100vh - 16px);
  background: url("/images/bg-booth.png") #FFFFFF;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100% auto;
  margin-top: -20px;
  padding-top: 50px;
}
@media screen and (min-width: 992px) {
  #booth {
    margin-top: -70px;
    padding-top: 120px;
  }
}
#booth header {
  background: radial-gradient(50% 983.68% at 50% 50%, #FDC12D 0%, #D49B48 100%);
  border-radius: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 4rem;
  text-align: center;
  margin: 1rem auto;
}
#booth header h1 {
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
}
#booth header h1 span {
  font-size: 20px;
  display: block;
  color: #313131;
  font-weight: 400;
}
@media screen and (min-width: 992px) {
  #booth header h1 span {
    font-size: 30px;
  }
}
@media screen and (min-width: 992px) {
  #booth header h1 {
    font-size: 31px;
  }
}
#booth #booth-list {
  padding: 2rem 0;
}
#booth #booth-list div {
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#teacher header {
  background: radial-gradient(50% 983.68% at 50% 50%, #97d267 0%, #237707 100%);
  border-radius: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 4rem;
  text-align: center;
  margin: 1rem auto;
}
#teacher header h1 {
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
}
#teacher header h1 span {
  font-size: 20px;
  display: block;
  color: #313131;
  font-weight: 400;
}
@media screen and (min-width: 992px) {
  #teacher header h1 span {
    font-size: 30px;
  }
}
@media screen and (min-width: 992px) {
  #teacher header h1 {
    font-size: 31px;
  }
}
#teacher #teacher-list img {
  border-radius: 24px;
}
#teacher .modal-blog .modal-content {
  border-radius: 1rem;
  padding: 1rem 0;
}
#teacher .modal-blog .modal-title {
  padding: 0.5rem 1rem;
}
#teacher .modal-blog .title {
  display: flex;
  justify-content: space-between;
}
#teacher .modal-blog .btn-close {
  background-image: url("/images/Vector.png");
  background-size: 100%;
  width: 20px;
  height: 20px;
}
#teacher .modal-blog .text-title {
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  padding: 1rem 0rem;
  line-height: 26px;
  padding: 0rem 0rem;
}
@media screen and (min-width: 992px) {
  #teacher .modal-blog .text-title {
    font-size: 29px;
    line-height: 33px;
  }
}
#teacher .modal-blog img {
  border-radius: 12px;
}
#teacher .modal-blog .text-success {
  font-size: 14px;
  color: #628D00 !important;
}
@media screen and (min-width: 992px) {
  #teacher .modal-blog .text-success {
    font-size: 18px;
  }
}
#teacher .modal-blog .text-detail {
  font-weight: 400;
  font-size: 14px;
  color: #333333 !important;
  padding: 0;
  line-height: 24px;
}
@media screen and (min-width: 992px) {
  #teacher .modal-blog .text-detail {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  .pt-lg-80 {
    padding-top: 80px;
  }
}

.position-right-0 {
  right: 0;
}

header.header {
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 14px rgba(9, 56, 25, 0.07);
}
header.header .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  color: #333333;
}
@media screen and (min-width: 992px) {
  header.header .navbar-nav .nav-link:not(:last-child) {
    border-right: 1px solid #D9D9D9;
  }
}
header.header .navbar-nav .nav-link.active {
  color: #688F4D;
}
header.header #navbarHamburger {
  z-index: 9999;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0px 4px 14px rgba(9, 56, 25, 0.07);
}
header.header #navbarHamburger .nav-link {
  border: none !important;
}

.swiper {
  width: 100%;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: white;
}

.opacity-0 {
  opacity: 0;
}

.z-index-99 {
  z-index: 99;
}
