@import url(https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&display=swap)

body
    font-family: 'Kanit', sans-serif

@import "mixins"
@import "main"
@import "second"
@import "blog"
@import "booth"
@import "techer"


.pt-lg-80
    @include screen('lg')
        padding-top: 80px


.position-right-0
    right: 0


header.header
    position: relative
    display: flex
    align-items: center
    box-shadow: 0px 4px 14px rgba(9, 56, 25, 0.07)
    .navbar-nav
        .nav-link
            padding-right: 1.5rem
            padding-left: 1.5rem
            color: #333333
            @include screen('lg')
                &:not(:last-child)
                    border-right: 1px solid #D9D9D9
            &.active
                color: #688F4D
    #navbarHamburger
        z-index: 9999
        padding: 2rem
        border-radius: 20px
        box-shadow: 0px 4px 14px rgba(9, 56, 25, 0.07)
        .nav-link
            border: none !important

.swiper
    width: 100%

    .swiper-button-prev,
    .swiper-button-next
        color: white
.opacity-0
    opacity: 0

.z-index-99
    z-index: 99
