@import "mixins"
@import "main"
@import "second"
@import "blog"
@import url(https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&display=swap)

body
    font-family: 'Kanit', sans-serif


.bg-white
    background-color: #ffffff


.header nav
    box-shadow: 0px 4px 14px rgba(9, 56, 25, 0.07)


.pt-80
    padding-top: 80px


.position-right-0
    right: 0


#tooltip
    position: fixed
    border: 1px solid #e8ecf2
    display: none
    border-radius: 1000px
    background-color: #fff
    color: #243876
    text-align: center
    padding: 10px
    font-size: 18px

