
#blog {
    background-size: 100%;
    background-image: url("/images/gradient-wallpaper.png");
    background-color: rgb(128, 190, 185);
    min-height: 100vh;
}

#blog .card{
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.17);
    border-radius: 20px;
}