#booth
    min-height: calc(100vh - 16px)
    background-image: url('/images/bg-booth-mb.png')
    background-color: #FFFFFF
    background-repeat: no-repeat
    background-position: 0% 0%
    background-size: 100% auto
    margin-top: -20px
    padding-top: 50px
    @include screen('md')
        background-image: url('/images/bg-booth.png')
        background-color: #FFFFFF
    @include screen('lg')
        margin-top: -70px
        padding-top: 120px
    .booth-title
        display: flex
        margin: 50px auto 100px
        background-image: url("/images/booth/bg_header_transparent.png")
        background-size: 100% 100%
        border-radius: 20px
        width: fit-content
        padding: 6px 62px
        position: relative
        h1
            color: white
            font-style: normal
            font-weight: 600
            font-size: 18px
            @include screen('lg')
                font-size: 20px
            span
                font-size: 16px
                display: block
                color: #313131
                font-weight: 400
                @include screen('lg')
                    font-size: 20px
    #booth-list
        padding: 2rem 0
        position: relative
        .booth-click
            position: absolute
            top: 65%
            left: 50%
            transform: translate(-50%, -50%)
            animation: wobble 1s ease 0s infinite normal forwards
        div
            text-align: center
            display: flex
            align-items: flex-end
            justify-content: center
        .booth1,
        .booth2,
        .booth3,
        .booth4
            transition: all 1s ease
            &:hover
                transform: scale(1.1)


    #posters
        display: inline !important
    #video,
    #course,
    #name,
    #posters
        cursor: pointer
        position: absolute
    #booth-item1,
    #booth-item2,
    #booth-item3,
    #booth-item4
        position: relative
        transition: all 1s ease
    #booth-item1
        &.booth-wrapper
            margin: 0 auto
            display: flex
            align-items: center
            @include screen('xs')
                width: calc(268.43px * 1.12)
                height: calc(176px * 1.12)
            @include screen('md')
                width: calc(268.43px * 2)
                height: calc(176px * 2)
            @include screen('lg')
                width: calc(268.43px * 3)
                height: calc(176px * 3)
            @include screen('xwide')
                width: calc(268.43px * 4)
                height: calc(176px * 4)
        .booth-detail
            margin: 0 auto
            width: 268.43px
            height: 176px
            transition: all 1s ease
            @include screen('xs')
                -webkit-transform: scale(1.12)
                transform: scale(1.12)
            @include screen('md')
                -webkit-transform: scale(2)
                transform: scale(2)
            @include screen('lg')
                -webkit-transform: scale(3)
                transform: scale(3)
            @include screen('xwide')
                -webkit-transform: scale(4)
                transform: scale(4)
        #video
            img
                height: 11px
            top: 16%
            left: 16%
        #course
            img
                height: 11px
            top: 22%
            right: 5%
        #name
            img
                height: 11px
            top: 12%
            right: 1%
        #posters
            img
                height: 11px
            top: 22%
            left: 1%

    #booth-item2
        &.booth-wrapper
            margin: 0 auto
            display: flex
            align-items: center
            @include screen('xs')
                width: calc(281px * 1.12)
                height: calc(250px * 1.12)
            @include screen('md')
                width: calc(281px * 2)
                height: calc(250px * 2)
            @include screen('lg')
                width: calc(281px * 3)
                height: calc(250px * 3)
            @include screen('xwide')
                width: calc(281px * 4)
                height: calc(250px * 4)
        .booth-detail
            margin: 0 auto
            width: 281px
            height: 250px
            transition: all 1s ease
            @include screen('xs')
                -webkit-transform: scale(1.12)
                transform: scale(1.12)
            @include screen('md')
                -webkit-transform: scale(2)
                transform: scale(2)
            @include screen('lg')
                -webkit-transform: scale(3)
                transform: scale(3)
            @include screen('xwide')
                -webkit-transform: scale(4)
                transform: scale(4)
        #video
            img
                height: 13px
            top: 64%
            left: 2%
        #course
            img
                height: 13px
            top: 31%
            right: 15%
        #posters
            img
                height: 13px
            top: 24%
            left: 28%
        #name
            img
                height: 13px
            bottom: 20%
            right: -7%

    #booth-item3
        &.booth-wrapper
            margin: 0 auto
            display: flex
            align-items: center
            @include screen('xs')
                width: calc(281px * 1.12)
                height: calc(250px * 1.12)
            @include screen('md')
                width: calc(281px * 2)
                height: calc(250px * 2)
            @include screen('lg')
                width: calc(281px * 3)
                height: calc(250px * 3)
            @include screen('xwide')
                width: calc(281px * 4)
                height: calc(250px * 4)
        .booth-detail
            margin: 0 auto
            width: 281px
            height: 250px
            transition: all 1s ease
            @include screen('xs')
                -webkit-transform: scale(1.12)
                transform: scale(1.12)
            @include screen('md')
                -webkit-transform: scale(2)
                transform: scale(2)
            @include screen('lg')
                -webkit-transform: scale(3)
                transform: scale(3)
            @include screen('xwide')
                -webkit-transform: scale(4)
                transform: scale(4)

        #video
            img
                height: 11px
            top: 8%
            left: 10%
        #course
            img
                height: 11px
            top: 30%
            left: 81%
        #posters
            img
                height: 11px
            top: 30%
            right: 82%

        #name
            img
                height: 11px
            top: 18%
            right: -8%


    #booth-item4
        &.booth-wrapper
            margin: 0 auto
            display: flex
            align-items: center
            @include screen('xs')
                width: calc(271px * 1.12)
                height: calc(250px * 1.12)
            @include screen('md')
                width: calc(271px * 2)
                height: calc(250px * 2)
            @include screen('lg')
                width: calc(271px * 3)
                height: calc(250px * 3)
            @include screen('xwide')
                width: calc(271px * 4)
                height: calc(250px * 4)
        .booth-detail
            margin: 0 auto
            width: 271px
            height: 250px
            transition: all 1s ease
            @include screen('xs')
                -webkit-transform: scale(1.12)
                transform: scale(1.12)
            @include screen('md')
                -webkit-transform: scale(2)
                transform: scale(2)
            @include screen('lg')
                -webkit-transform: scale(3)
                transform: scale(3)
            @include screen('xwide')
                -webkit-transform: scale(4)
                transform: scale(4)
        #video
            img
                height: 13px
            top: 30%
            left: 15%
        #course
            img
                height: 13px
            top: 40%
            right: -5%
        #posters
            img
                height: 13px
            top: 40%
            left: -3%
        #name
            img
                height: 13px
            top: 30%
            right: 0%

    .header-booth-detail
        display: flex
        margin: 50px auto 100px
        border-radius: 20px
        background: #B1D34A
        flex-wrap: wrap
        flex-direction: column
        align-items: center
        text-align: center
        width: fit-content
        color: #414042
        overflow: hidden
        position: relative
        &.header-blue
            background: #6ECBF1
            nav
                a:nth-child(2)
                    background: #1B75BB
        .border-header
            display: block
            position: absolute
            bottom: -2px
            z-index: 99
        h1
            font-weight: 700
            font-size: 20px
            line-height: 135%
            margin: 0
            padding: 10px 16px
            @include screen('xl')
                padding: 10px 62px
        h2
            font-size: 14px
            font-weight: 400
            line-height: 135%
            margin: 0
            padding: 10px 16px
            @include screen('xl')
                padding: 10px 62px
                font-size: 20px
        nav
            a
                text-decoration: none
            a:nth-child(1)
                color: #414042
                background: #F1F2F2
            a:nth-child(2)
                color: #fff
                background: #80BF41




.modal-body
    img
        max-width: 100%
#modal-video
    iframe
        max-width: 100%
#modal-course,
#modal-name,
#modal-video
    a
        color: black
    .table-bordered
        border-color: transparent
