#booth
    min-height: calc(100vh - 16px)
    background: url('/images/bg-booth.png') #FFFFFF
    background-repeat: no-repeat
    background-position: 0% 0%
    background-size: 100% auto
    margin-top: -20px
    padding-top: 50px
    @include screen('lg')
        margin-top: -70px
        padding-top: 120px
    header
        background: radial-gradient(50% 983.68% at 50% 50%, #FDC12D 0%, #D49B48 100%)
        border-radius: 30px
        width: fit-content
        padding: 1rem 4rem
        text-align: center
        margin: 1rem auto
        h1
            color: white
            font-style: normal
            font-weight: 600
            font-size: 22px
            span
                font-size: 20px
                display: block
                color: #313131
                font-weight: 400
                @include screen('lg')
                    font-size: 30px
            @include screen('lg')
                font-size: 31px
    #booth-list
        padding: 2rem 0
        div
            text-align: center
            display: flex
            align-items: flex-end
            justify-content: center
