#booth
    min-height: calc(100vh - 16px)
    background-image: url('/images/bg-booth-mb.png')
    background-color: #FFFFFF
    background-repeat: no-repeat
    background-position: 0% 0%
    background-size: 100% auto
    margin-top: -20px
    padding-top: 50px
    @include screen('md')
        background-image: url('/images/bg-booth.png')
        background-color: #FFFFFF
    @include screen('lg')
        margin-top: -70px
        padding-top: 120px
    .booth-title
        display: flex
        margin: 50px auto 100px
        background-image: url("/images/booth/bg_header.png")
        background-size: 100% 100%
        width: fit-content
        padding: 6px 62px
        h1
            color: white
            font-style: normal
            font-weight: 600
            font-size: 18px
            @include screen('lg')
                font-size: 20px
            span
                font-size: 16px
                display: block
                color: #313131
                font-weight: 400
                @include screen('lg')
                    font-size: 20px
    #booth-list
        padding: 2rem 0
        position: relative
        .booth-click
            position: absolute
            top: 65%
            left: 50%
            transform: translate(-50%, -50%)
            animation: wobble 1s ease 0s infinite normal forwards
        div
            text-align: center
            display: flex
            align-items: flex-end
            justify-content: center
        .booth1,
        .booth2,
        .booth3,
        .booth4
            transition: all 1s ease
            &:hover
                transform: scale(1.1)


    #posters
        display: inline !important
    #video,
    #course,
    #name,
    #posters
        cursor: pointer
        position: absolute
    #booth-item1,
    #booth-item2,
    #booth-item3,
    #booth-item4
        position: relative
        transition: all 1s ease
    #booth-item1
        &.booth-wrapper
            margin: 0 auto
            display: flex
            align-items: center
            @include screen('xs')
                width: calc(268.43px * 1.12)
                height: calc(176px * 1.12)
            @include screen('md')
                width: calc(268.43px * 2)
                height: calc(176px * 2)
            @include screen('lg')
                width: calc(268.43px * 3)
                height: calc(176px * 3)
            @include screen('xwide')
                width: calc(268.43px * 4)
                height: calc(176px * 4)
        .booth-detail
            margin: 0 auto
            width: 268.43px
            height: 176px
            transition: all 1s ease
            @include screen('xs')
                transform: scale(1.12)
            @include screen('md')
                transform: scale(2)
            @include screen('lg')
                transform: scale(3)
            @include screen('xwide')
                transform: scale(4)
        #video
            img
                height: 11px
            top: 16%
            left: 16%
        #course
            img
                height: 11px
            top: 22%
            right: 5%
        #name
            img
                height: 11px
            top: 12%
            right: 1%
        #posters
            img
                height: 11px
            top: 22%
            left: 1%

    #booth-item2
        &.booth-wrapper
            margin: 0 auto
            display: flex
            align-items: center
            @include screen('xs')
                width: calc(281px * 1.12)
                height: calc(250px * 1.12)
            @include screen('md')
                width: calc(281px * 2)
                height: calc(250px * 2)
            @include screen('lg')
                width: calc(281px * 3)
                height: calc(250px * 3)
            @include screen('xwide')
                width: calc(281px * 4)
                height: calc(250px * 4)
        .booth-detail
            margin: 0 auto
            width: 281px
            height: 250px
            transition: all 1s ease
            @include screen('xs')
                transform: scale(1.12)
            @include screen('md')
                transform: scale(2)
            @include screen('lg')
                transform: scale(3)
            @include screen('xwide')
                transform: scale(4)
        #video
            img
                height: 13px
            top: 64%
            left: 2%
        #course
            img
                height: 13px
            top: 31%
            right: 15%
        #posters
            img
                height: 13px
            top: 24%
            left: 28%
        #name
            img
                height: 13px
            bottom: 20%
            right: -7%

    #booth-item3
        .booth-name
            top: 100%
            padding: 0 2rem
            @include screen('md')
                top: 20%
                left: 0
                right: 0
                margin-left: auto
                margin-right: auto
                width: 100%
        #thumbnail
            position: absolute
            top: 65%
            left: 61%
            @include screen('sm')
                left: 45%
            @include screen('md')
                left: 64%
            @include screen('lg')
                left: 64%
            img
                height: 30px
                @include screen('sm')
                    height: 55px
                @include screen('md')
                    height: 55px
                @include screen('lg')
                    height: 80px
        #video
            top: 38%
            left: 42%
            @include screen('md')
                top: 38%
                left: 43%
            @include screen('lg')
                top: 54%
                left: 45%
        #course
            top: 68%
            left: 14%
            @include screen('md')
                top: 70%
                left: 15%
            @include screen('lg')
                top: 70%
                left: 17%
        #posters
            top: 58%
            right: 27%
            @include screen('md')
                top: 64%
                right: 26%
            @include screen('lg')
                top: 65%
                right: 28%

        #name
            font-size: 0.6rem
            top: 80%
            right: 5%
            @include screen('sm')
                top: 80%
                right: 5%
            @include screen('md')
                font-size: 1rem
                top: 80%
                right: 7%
            @include screen('lg')
                font-size: 1rem
                top: 78%
                right: 15%

    #booth-item4
        &.booth-wrapper
            margin: 0 auto
            display: flex
            align-items: center
            @include screen('xs')
                width: calc(271px * 1.12)
                height: calc(250px * 1.12)
            @include screen('md')
                width: calc(271px * 2)
                height: calc(250px * 2)
            @include screen('lg')
                width: calc(271px * 3)
                height: calc(250px * 3)
            @include screen('xwide')
                width: calc(271px * 4)
                height: calc(250px * 4)
        .booth-detail
            margin: 0 auto
            width: 271px
            height: 250px
            transition: all 1s ease
            @include screen('xs')
                transform: scale(1.12)
            @include screen('md')
                transform: scale(2)
            @include screen('lg')
                transform: scale(3)
            @include screen('xwide')
                transform: scale(4)
        #video
            img
                height: 13px
            top: 30%
            left: 15%
        #course
            img
                height: 13px
            top: 40%
            right: -5%
        #posters
            img
                height: 13px
            top: 40%
            left: -3%
        #name
            img
                height: 13px
            top: 30%
            right: 0%

    .header-booth-detail
        display: flex
        margin: 50px auto 100px
        border-radius: 20px
        background: #B1D34A
        flex-wrap: wrap
        flex-direction: column
        align-items: center
        text-align: center
        width: fit-content
        color: #414042
        overflow: hidden
        position: relative
        &.header-blue
            background: #6ECBF1
            nav
                a:nth-child(2)
                    background: #1B75BB
        .border-header
            display: block
            position: absolute
            bottom: -2px
            z-index: 99
        h1
            font-weight: 700
            font-size: 20px
            line-height: 135%
            margin: 0
            padding: 10px 16px
            @include screen('xl')
                padding: 10px 62px
        h2
            font-size: 14px
            font-weight: 400
            line-height: 135%
            margin: 0
            padding: 10px 16px
            @include screen('xl')
                padding: 10px 62px
                font-size: 20px
        nav
            a
                text-decoration: none
            a:nth-child(1)
                color: #414042
                background: #F1F2F2
            a:nth-child(2)
                color: #fff
                background: #80BF41
    .booth1, .booth2, .booth3, .booth4
        position: relative
        .poster
            position: absolute
    .booth1
        #poster1, #poster2
            img
                max-width: 49px
                @include screen('md')
                    max-width: 85px
                @include screen('lg')
                    max-width: 80px
                @include screen('ipad')
                    max-width: 65px
                @include screen('xl')
                    max-width: 71px
                @include screen('wide')
                    max-width: 90px
                @include screen('mwide')
                    max-width: 86px
                @include screen('xwide')
                    max-width: 92px
        #poster1
            left: 11%
            top: 38%
            @include screen('md')
                left: 15%
                top: 38%
            @include screen('lg')
                left: 15%
                top: 38%
            @include screen('ipad')
                left: 11%
                top: 38%
            @include screen('xl')
                left: 11%
                top: 38%
            @include screen('wide')
                left: 12%
                top: 38%
            @include screen('mwide')
                left: 14%
                top: 38%
            @include screen('xwide')
                left: 21.4%
                top: 38%

        #poster2
            left: 75%
            top: 38%
            @include screen('md')
                left: 74%
                top: 38%
            @include screen('lg')
                left: 74%
                top: 38%
            @include screen('ipad')
                left: 76%
                top: 38%
            @include screen('xl')
                left: 76%
                top: 38%
            @include screen('wide')
                left: 75%
                top: 38%
            @include screen('mwide')
                left: 74%
                top: 38%
            @include screen('xwide')
                left: 69%
                top: 38%

    .booth2
        #poster1
            img
                max-width: 25px
                @include screen('md')
                    max-width: 64px
                @include screen('lg')
                    max-width: 64px
                @include screen('ipad')
                    max-width: 43px
                @include screen('xl')
                    max-width: 43px
                @include screen('wide')
                    max-width: 57px
                @include screen('mwide')
                    max-width: 64px
                @include screen('xwide')
                    max-width: 64px
        #poster2
            img
                max-width: 31px
                @include screen('md')
                    max-width: 74px
                @include screen('lg')
                    max-width: 74px
                @include screen('ipad')
                    max-width: 50px
                @include screen('xl')
                    max-width: 50px
                @include screen('wide')
                    max-width: 73px
                @include screen('mwide')
                    max-width: 74px
                @include screen('xwide')
                    max-width: 74px
        #poster1
            left: 24%
            top: 49%
            @include screen('md')
                left: 23%
                top: 49%
            @include screen('lg')
                left: 28%
                top: 49%
            @include screen('ipad')
                left: 23%
                top: 49%
            @include screen('xl')
                left: 23%
                top: 49%
            @include screen('wide')
                left: 23%
                top: 49%
            @include screen('mwide')
                left: 23%
                top: 49%
            @include screen('xwide')
                left: 28%
                top: 49%

        #poster2
            left: 68%
            top: 44.6%
            @include screen('md')
                left: 69.4%
                top: 44.6%
            @include screen('lg')
                left: 69.4%
                top: 44.6%
            @include screen('ipad')
                left: 69%
                top: 44.6%
            @include screen('xl')
                left: 69%
                top: 44.6%
            @include screen('wide')
                left: 69%
                top: 44.6%
            @include screen('mwide')
                left: 69.4%
                top: 44.6%
            @include screen('xwide')
                left: 65.7%
                top: 44.6%

    .booth3
        #poster1
            img
                max-width: 31px
                @include screen('md')
                    max-width: 64px
                @include screen('lg')
                    max-width: 38px
                @include screen('ipad')
                    max-width: 38px
                @include screen('xl')
                    max-width: 53px
                @include screen('wide')
                    max-width: 53px
                @include screen('mwide')
                    max-width: 62px
                @include screen('xwide')
                    max-width: 72px
        #poster2
            img
                max-width: 27px
                @include screen('md')
                    max-width: 59px
                @include screen('lg')
                    max-width: 36px
                @include screen('ipad')
                    max-width: 36px
                @include screen('xl')
                    max-width: 55px
                @include screen('wide')
                    max-width: 55px
                @include screen('mwide')
                    max-width: 56px
                @include screen('xwide')
                    max-width: 71px

        #poster1
            left: 12%
            top: 58%
            @include screen('md')
                left: 11%
                top: 58%
            @include screen('lg')
                left: 12%
                top: 58%
            @include screen('ipad')
                left: 12%
                top: 58%
            @include screen('xl')
                left: 11.5%
                top: 58%
            @include screen('wide')
                left: 11.5%
                top: 58%
            @include screen('mwide')
                left: 11%
                top: 58%
            @include screen('xwide')
                left: 11%
                top: 58%

        #poster2
            left: 70%
            top: 65%
            @include screen('md')
                left: 70%
                top: 65%
            @include screen('lg')
                left: 70%
                top: 66%
            @include screen('ipad')
                left: 70%
                top: 66%
            @include screen('xl')
                left: 70%
                top: 65%
            @include screen('wide')
                left: 70%
                top: 65%
            @include screen('mwide')
                left: 70.5%
                top: 65%
            @include screen('xwide')
                left: 70.5%
                top: 65%

    .booth4
        #poster1
            img
                max-width: 64px
                @include screen('md')
                    max-width: 103px
                @include screen('lg')
                    max-width: 103px
                @include screen('ipad')
                    max-width: 81px
                @include screen('xl')
                    max-width: 81px
                @include screen('wide')
                    max-width: 94px
                @include screen('mwide')
                    max-width: 100px
                @include screen('xwide')
                    max-width: 100px
        #poster2
            img
                max-width: 68px
                @include screen('md')
                    max-width: 105px
                @include screen('lg')
                    max-width: 105px
                @include screen('ipad')
                    max-width: 91px
                @include screen('xl')
                    max-width: 91px
                @include screen('wide')
                    max-width: 106px
                @include screen('mwide')
                    max-width: 107px
                @include screen('xwide')
                    max-width: 107px

        #poster1
            left: 13%
            top: 49%
            @include screen('md')
                left: 20%
                top: 48%
            @include screen('lg')
                left: 20%
                top: 48%
            @include screen('ipad')
                left: 13%
                top: 48%
            @include screen('xl')
                left: 13%
                top: 48%
            @include screen('wide')
                left: 19%
                top: 48%
            @include screen('mwide')
                left: 20%
                top: 49%
            @include screen('xwide')
                left: 26%
                top: 49%

        #poster2
            left: 51%
            top: 40%
            @include screen('md')
                left: 51%
                top: 39%
            @include screen('lg')
                left: 51%
                top: 39%
            @include screen('ipad')
                left: 51%
                top: 39%
            @include screen('xl')
                left: 51%
                top: 39%
            @include screen('wide')
                left: 51%
                top: 39%
            @include screen('mwide')
                left: 51%
                top: 40%
            @include screen('xwide')
                left: 51%
                top: 40%




.modal-body
    img
        max-width: 100%
#modal-video
    iframe
        max-width: 100%
