#main
    background-repeat: no-repeat
    background-size: auto 100%
    background-position: bottom center
    height: 100vh
    object-fit: contain
    background-image: url("/images/index/bg-small.png")
    @include screen('md')
        background-size: 100% 100%
        object-fit: cover
        background-image: url("/images/index/background.png")

    .img-main
        padding-top: 5%
        width: 100%
        height: 100vh
        object-fit: contain
        display: none
        @include screen('md')
            display: inline


    .content
        position: fixed
        top: 30%
        color: white
        text-align: center
        padding: 1rem

        h1
            -webkit-text-stroke: 2px  #004030
            text-shadow: 0px 3px 27px #043923
            font-weight: 600
            font-size: 24px
            @include screen('md')
                line-height: 63px
                font-size: 42px
        h2
            text-shadow: 0px 3px 27px #043923
            font-size: 20px
            @include screen('md')
                font-size: 29px

        a
            background: rgba(44, 68, 52, 0.66)
            border: 2px solid #FFFFFF
            backdrop-filter: blur(6px)
            border-radius: 14px
            padding: 14px 37px
            color: white
            font-weight: 600
            font-size: 25px
            line-height: 30px
            text-decoration: none

