#teacher
    header
        background: #FFFFFF
        border: 5px solid #FFFFFF
        border-radius: 100px
        width: fit-content
        padding: 1rem 4rem
        text-align: center
        margin: 1rem auto
        box-shadow: 0px 4px 10px rgb(0 0 0 / 25%)
        h1
            color: #628D00
            font-style: normal
            font-weight: 600
            font-size: 22px
            span
                font-size: 22px
                display: block
                color: #313131
                font-weight: 600
            @include screen('lg')
                font-size: 32px
    #teacher-list
        div
            cursor: pointer
        .teacher-img
            overflow: hidden
            border-radius: 24px
            &:hover
                img
                    border: solid 2px #000000
                    transform: scale(1.1)
            img
                border-radius: 24px
                transition: transform .5s ease



    .modal-blog
        .modal-content
            border-radius: 1rem
            padding: 1rem 0

        .modal-title
            padding: 0.5rem 1rem

        .title
            display: flex
            justify-content: space-between

        .btn-close
            background-image: url("/images/Vector.png")
            background-size: 100%
            width: 20px
            height: 20px

        .text-title
            color: #333333
            font-size: 18px
            font-weight: 600
            padding: 1rem 0rem
            line-height: 26px
            padding: 0rem 0rem
            @include screen('lg')
                font-size: 29px
                line-height: 33px


        img
            border-radius: 12px

        .text-success
            font-size: 14px
            color: #628D00 !important
            @include screen('lg')
                font-size: 18px

        .text-detail
            font-weight: 400
            font-size: 14px
            color: #333333 !important
            padding: 0
            line-height: 24px
            @include screen('lg')
                font-size: 16px



